 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yeseva One', cursive;
}


body {
  background: url(./scene.jpg)no-repeat;
  color: rgb(26, 22, 230);
}

#course-row {
  font-size: 20px;
  font-weight: bolder; 
  margin-left: -2%;
}

#credit-row {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 13%;
}

#grade-row {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 8%;
}

p{
  padding: 20px;
  font-size: 1rem;
  color: black;
  text-align: center;
}
 
#course-wrapper, form {
  color: black;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
}
input{
  border: none;
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  width: 20%;
  text-align:center;
}
select{
  padding: 20px;
  border: none;
  border-radius: 15px;
  width: 20%;
}
 button {
  width: 20%;
  height: 60px;
  padding: 2px;
  margin: 10px auto;
   margin-left: 10px; 
  border-width: 3px;
  border-radius: 20px;
  border-style: solid;
}

 button:hover {
  width: 15%;
  height: 40px;
  padding: 5px;
  margin: 5px auto;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;    
  -webkit-box-shadow: 10px 9px 50px 10px rgba(34,199,34,1);
  -moz-box-shadow: 10px 9px 50px 10px rgba(34,199,34,1);
  box-shadow: 10px 9px 50px 10px rgba(34,199,34,1);
}
.wrapper{
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
    position: center;
    width: 700px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.lastp p {
  color: rgb(37, 228, 20);
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
} 
